/* body{
    /* 画像ファイルの指定 */
  /* background-image: url(../pictures/dream.jpg); */
  /* 画像を常に天地左右の中央に配置 */
  /* background-position: center center; */
  /* 画像をタイル状に繰り返し表示しない */
  /* background-repeat: no-repeat; */
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  /* background-attachment: fixed; */
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  /* background-size: cover; */

  /* color: white; */
  
/* } */

.header{
    height: 100vh;
}

/* .pictures{
    width: 300px;
    height: 20vh;
    justify-content: space-between;
    /* position: absolute;
    margin-top: 80vh; */
    /* display: flex;*/ 
    

.image img {
    width: 300px;
    height: 20vh;
    display: block;
}

.image{
    margin-top: 28vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#forest:hover{
    opacity: 0.7;
}

#swim:hover{
    opacity: 0.7;
}

#IslandHop:hover{
    opacity: 0.7;
}
.slide-img{
    width:100%;
    height:78vh;
}

.swiper-wrapper{
    text-align: center;
    width:100%;
    height: 50vh;
}

h1{
    font-size: 3    0px;
}

.classjungle{
    height: 100vh;
}

.mori{
    height: 200px;
    width:400px;
}

.classocean{
    height: 100vh;
}

.umi{
    height: 200px;
    width:400px;
}

.classisland{
    height: 100vh;
}

.shima{
    height: 200px;
    width: 25%;
}